.owl-carousel .item img{
    height: 150px;
    height: 150px;
}
button.owl-next, button.owl-prev{
    background-color: #1174BC;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    display: none;
}