.apply_button{
    background-color: #C75934;
    border: none;
    padding: 7px 20px;
    border-radius: 5px;
    margin-left: 20px;
    color: #fff;  
}
.apply_button:hover {
    background-color: #ffffff;
    color: #c75934;
    border: 1px solid #c75934;
    font-weight: bold;
}
.learn_more {
    text-align: center;
}
.learn_more button {
    background-color: #C75934;
    border: none;
    padding: 7px 20px;
    border-radius: 5px;
    color: #fff;
    width: 70%;
}