.apply_button{
    background-color: #C75934;
    border: none;
    padding: 7px 20px;
    border-radius: 5px;
    margin-left: 20px;
    color: #fff;  
}
.apply_button:hover {
    background-color: #ffffff;
    color: #c75934;
    border: 1px solid #c75934;
    font-weight: bold;
}
.learn_more {
    text-align: center;
}
.learn_more button {
    background-color: #C75934;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    width: 70%;
    border: 1px solid #c75934;
    transition: ease all 0.5s;
}
.learn_more button:hover {
    background-color: #ffffff;
    color: #c75934;
    border: 1px solid #c75934;
}
.read_more {
    background-color: #1174BC;
    border: none;
    padding: 7px 20px;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #1174BC;
    transition: ease all 0.5s;
}
.read_more:hover {
    background-color: #ffffff;
    color: #1174BC;

}
