img {
    width: 100%;
    height: 720px;
    object-fit: fill;
}
.slick-prev {
    left: 3% !important;
    z-index: 1;
  }
  .slick-next {
    right: 3% !important;
    z-index: 1;
  }
  .slick-prev::before {
    font-size: 45px;
    color: #6b99e9;
  }
  .slick-next::before {
    font-size: 45px;
    color: #6b99e9;
  }
