/* .banner_below {
    margin-top: -1%;
    padding: 0;
} */
.mission {
    background-color: #C75934;
    height: 200px;
}
.vision {
    background-color: #1174BC;
    height: 200px;
}
.goal {
    background-color: #C75934;
    height: 200px;
}