/* .banner_below {
    margin-top: -1%;
    padding: 0;
} */
.mission {
    background-color: #C75934;
}
.vision {
    background-color: #1174BC;
}
.goal {
    background-color: #C75934;
}
.main_logo {
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.mvg_main {
    padding-top: 3%;
    color: #fff;
    text-align: justify;
    padding-right: 20px;
}
.functions {
    margin-top: 3%;
}
.functions_column {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.function_section {
    border: 0.5px solid #c75934;
    width: 80%;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 5%;
}
.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #1174bcb0;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
}
.circle img {
    width: 115px;
    height: 115px;
    position: absolute;
    top: 8%;
    left: 5%;
    border-radius: 50%;
}
.about_us {
    margin-top: 3%;
}
.index_about_img img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.index_about_content {
    padding-left: 3%;
}
.index_about_content h6 {
    color: #585756;
}
.index_about_content h3 {
    color: #c75934;
    text-transform: uppercase;
    font-weight: bold;
}
.index_about_content p {
    color: #1f1e1e;
    text-align: justify;
}
.after_line {
    width: 30%;
    height: 3px;
    background-color: #1174BC;
    margin-bottom:2%;
}
.study_abroad {
    margin-top: 3%;
    background: url(../images//studyabroadbackground.png) no-repeat;
    background-size: 100% 100%;
    padding-bottom: 5%;
}

.study_abroad h3 {
    color: #1174BC;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.after_line_abroad {
    width: 10%;
    height: 3px;
    background-color: #c75934;
    margin-bottom:2% !important;
    margin: 0 auto;
}
.index_services {
    margin-top: 3%;
}
.services_head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
.after_line_services {
    width: 13%;
    height: 3px;
    background-color: #c75934;
    margin-bottom:2% !important;
    margin: 5px 46%;
}
.services_motto {
    text-align: center;
    color: #585756;
    font-size: 18px;
    font-weight: 500;
}
.services_content {
    margin-top: 3%;
}
.services_content h4 {
    color: #1174BC;
    text-transform: uppercase;
    font-weight: bold;
}
.services_content p {
    color: #585756;
    text-align: justify;
    padding: 10px;
}
.services_image {
    margin-top: 3%;
    text-align: center;
}
.services_image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
