/* .banner_below {
    margin-top: -1%;
    padding: 0;
} */
.mission {
    background-color: #C75934;
}
.vision {
    background-color: #1174BC;
}
.goal {
    background-color: #C75934;
}
.main_logo {
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.mvg_main {
    padding-top: 3%;
    color: #fff;
    text-align: justify;
    padding-right: 20px;
}